<!-- //login form -->

  <form [formGroup]="loginForm" fxLayout="column" fxLayoutAlign="space-around">
    <div>
      <label>EmailId</label>
      <div>
        <mat-form-field width="600px" appearance="outline">
          <input
            style="border: black; height: 25px; width: 300px"
            matInput
            type="text"
            formControlName="email"
          />
          <mat-error>Email Required!</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div style="margin-top: 20px">
      <label>Password</label>
      <div>
        <mat-form-field width="600px" appearance="outline">
          <input
            style="border: black; height: 25px; width: 300px"
            matInput
            formControlName="password"
          />
          <mat-error>Password Required!</mat-error>
        </mat-form-field>
      </div>
    </div>
    <button (click)="onLogin()" class="loginbutton" style="color: white">
      Login
    </button>
  </form>
