<!-- //signupForm -->
  <form
    [formGroup]="signupForm"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
  >
    <div>
      <span>First Name</span>
      <div>
        <mat-form-field width="600px" appearance="outline">
          <input matInput formControlName="firstName" />
          <mat-error>First Name Required!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div style="margin-top: 20px">
      <span>Last Name</span>
      <div>
        <mat-form-field width="600px" appearance="outline">
          <input matInput formControlName="lastName" />
          <mat-error>Last Name Required!</mat-error>
        </mat-form-field>
      </div>
    </div>

    <div style="margin-top: 20px">
      <span>Email</span>
      <div>
        <mat-form-field appearance="outline">
          <input matInput formControlName="email" />
          <mat-error>Email Required!</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div style="margin-top: 20px">
      <span>Password</span>
      <div>
        <mat-form-field appearance="outline">
          <input matInput matInput formControlName="password" />
          <mat-error>Password Required!</mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <button (click)="onSignup()" class="loginbutton" style="color: white">
    Signup
  </button>
