<div fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="10px">
  <mat-card class="allposts" *ngFor="let post of posts">
    <span style="font-size: large" *ngIf="firstName !== post.creator.firstName"
      >by - {{ post.creator.firstName }}</span
    >
    <span style="font-size: large" *ngIf="firstName === post.creator.firstName"
      >by - me</span
    >
    <span>{{ post.createdAt | date: "short" }}</span>

    <div fxLayoutAlign="center center" class="content">
      <span>{{ post.content }}</span>
    </div>
    <div style="margin-top: 20px">
      <button
        style="
          color: red;
          border: none;
          background-color: transparent;
          cursor: pointer;
        "
        mat-icon-button
      >
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-card>
</div>
