.allposts {
  display: flex;
  flex-direction: column;

  border: 1px solid gainsboro;
  width: 250px;
  height: 150px;
  margin-right: -65%;
  margin: 20px;
}
.content{
  width: 251px;
  height: 210px;  
  background-color: gainsboro;
  margin-top: -1px;
  font-size: large;
}
